body{
    background-color: rgb(156, 180, 241)
}
.title
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(169, 171, 173);
    padding: 5px;
    width: 320px;
    margin: auto;

}
.container-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    /* grid-row-gap:5px; */
    margin:  20px 30%;
    padding: 5px;
    background-color: rgb(194, 194, 193);

}
.une-card-devant{
    background-color: rgb(15, 15, 17);
    font-size: 10px;
    color: brown;
    text-align: center;
}
.une-card-inter{
    background-color: brown;
    transform: rotateY(180deg);
    text-align: center;
}

#car1
{
    background: red;
    transform: rotateY(0deg) translateZ(75px);
    grid-column: 1/2;
    grid-row: 1/2;
}

#car2
{
    background: rgb(0, 60, 255);
    transform: rotateY(40deg) translateZ(75px);
    grid-column: 2/3;
    grid-row: 1/2;

}

#car3
{
    background: rgb(0, 255, 21);
    transform: rotateY(80deg) translateZ(75px) ;
    grid-column: 3/4;
    grid-row: 1/2;
}

#car4
{
    background: rgb(255, 0, 234);
    transform: rotateY(120deg) translateZ(75px); 
    grid-column: 4/5;
    grid-row: 1/2;
}

#car5
{
    background: rgb(255, 238, 0);
    transform: rotateY(160deg) translateZ(75px);
    grid-column: 1/2;
    grid-row: 2/3;
}

#car6
{
    background: rgb(47, 0, 255);
    transform: rotateY(200deg) translateZ(75px);
    grid-column: 2/3;
    grid-row: 2/3; 
}

#car7
{
    background: rgb(255, 51, 0);
    transform: rotateY(240deg) translateZ(75px);
    grid-column: 3/4;
    grid-row: 2/3; 
}

#car8
{
    background: rgb(0, 195, 255);
    transform: rotateY(280deg) translateZ(75px);
    grid-column: 4/5;
    grid-row: 2/3;
}

#car9
{
    background: rgb(255, 238, 0);
    transform:  rotateY(320deg) translateZ(75px);
    grid-column:1/2 ;
    grid-row: 3/4; 
}
#car10
{
    background: rgb(255, 238, 0);
    transform:  rotateY(320deg) translateZ(75px);
    grid-column: 2/3;
    grid-row: 3/4; 
}
#car11
{
    background: rgb(255, 238, 0);
    transform:  rotateY(320deg) translateZ(75px);
    grid-column: 3/4; 
    grid-row: 3/4;
}
#car12
{
    background: rgb(255, 238, 0);
    transform:  rotateY(320deg) translateZ(75px);
    grid-column: 4/5; 
    grid-row: 3/4;
}
.une-card-img{
    height: 70px;
    width: 70px;
}

/* #content 
{
    position: relative;
    width: 500px;
    height: 400px;
    perspective: 900px;
    background: grey;
}
  
#caroussel 
{
    position: absolute;
    transform-style: preserve-3d;
    top: 80px;
    left: 110px;
    animation: turn 4s infinite linear;
}
  
#caroussel div
{
	height: 5px;
	width: 5px;
	padding: 15px;
    position: absolute;
    border: 5px outset;
} */

/* @keyframes turn
{.une-card-devant
	{
        transform: rotateY(180deg);
    }

} */
