body{
    background-color: rgb(156, 180, 241)
}
.hidden{
    visibility: hidden;
}
.selected{
    pointer-events: none;
}
.title
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(169, 171, 173);
    padding: 5px;
    width: 320px;
    margin: auto;
    background: linear-gradient(rgb(39, 33, 33));

}
.container-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap:5px;
    margin:  20px 30px;
    padding: 5px;
    background-color: rgb(194, 194, 193);
    transform: rotateY(180deg);

}


.une-card-inter{
    position: relative;
    background-color: transparent;
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
   
}

.une-card-devant{
    background-color: rgb(25, 25, 27);
    font-size: 10px;
    color: brown;
    text-align: center;
    transform: rotateY(180deg) 0.3s ease;   
}

.une-card-inter{
    background-color: brown;
   
    text-align: center;  
}


.une-card-img{
    height: 70px;
    width: 70px;
} 
.rotate{
    transform: rotateY(180deg);
} 
.une-card-devant,
.une-card-derriere {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.une-card-derriere{
    transform: rotateY(180deg);
}

  /* .return-card{
 
    transform: rotateY(180deg);
  } */

/* .une-card{
   
} */



  
  .modal{
    background-color: white;
    position: fixed;
    width: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 50px;
    z-index: -1;
    opacity: 0;
    display: flex;
    align-items: center;
    border: black solid 1px;
    }
    
    @keyframes fade{
        0%   {opacity:0;}    
        10%  {opacity:1;}          
        50%  {opacity:1;}           
        75%  {opacity:1;}           
        100% {opacity:0;}           
      }
    .open{
        z-index: 9999;
        animation-name: fade;
        animation-duration: 5s;
    }
    .textModal{
        font-size: 2em;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }